<router-outlet>
    <header *ngIf="showComponent">
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand"><img class="image_aba" src="../assets/Designed BY_ Abdellah ABAIR.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['']" routerLinkActive="router-link-active">
                            <i class="fa fa-home"></i> Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> Gestion des utilisateurs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item">Ajout</a>
                            <a class="dropdown-item ">Editer/Supprimer</a>
                            <div class="dropdown-divider "></div>
                            <a class="dropdown-item ">Users</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" (click)="gestion_factures()">
                            <i class="fas fa-box-open"></i> Gestion des factures
                        </a>
                    </li>

                </ul>


                <button class="btn btn-link my-2 my-sm-0 ">Déconnecter
                    <i class="fa fa-sign-out" aria-hidden="true"></i>

                </button>

            </div>
        </nav>

        <video class="video-fluid z-depth-2" autoplay loop controls muted *ngIf="showvidio">
            <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
          </video>


    </header>
</router-outlet>